/* Стилизация преимуществ компании */

.features {
    display: flex;
}

.features__item {
    width: calc((100% - 90px) / 4);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.features__block {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #f5f4fa;
}

.features__title {
    margin-bottom: 10px;
    color: var(--extra-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--letter-spacing-base);
    font-weight: var(--font-weight);
    text-transform: uppercase;
}

.features__text {
    line-height: 1.71;
}