.main__title {
    width: 696px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
}