/* модальное окно */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;
    background-color: var(--secondary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    transition-property: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    @extend %flex-center;

    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    color: #000;
    outline: none;

    &:hover,
    &:focus {
        color: var(--acent-color);
    }
}

.close-btn__icon {
    fill: currentColor;
}

