/* Основные кнопки на странице Портфолио */

.portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio__btn {
    transition-property: color, background-color, border-shadow;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    min-width: 73px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    border-radius: 4px;
    border-color: transparent;
    color: var(--extra-text-color);
    background-color: #f5f4fa;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: var(--letter-spacing-base);
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: var(--acent-color);
        color: var(--secondary-text-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

