/* Стилизация списка социальных сетей */

.team-media {
    display: flex;
    justify-content: center;
}

.team-media__item:not(:nth-child(4n)) {
    margin-right: 10px;
}

.team-media__link {
    transition-property: color, background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--team-icon-color);
    background-color: transparent;
   

    &:hover,
    &:focus {
        background-color: var(--acent-color);
        color: var(--secondary-text-color);
    }
}

.team-media__icon {
    fill: currentColor;
}

