:root {
    --text-color: #757575;
    --secondary-text-color: #fff;
    --extra-text-color: #212121;
    --acent-color: rgb(33, 150, 243);
    --section--bg-color: #2f303a;
    --team-icon-color: #afb1b8;
    --second-font: Raleway;
    --font-weight: 700;
    --letter-spacing-base: 0.03em;
    --letter-spacing: 0.06em;
    --letter-spacing-extra: 0.02em;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}